body {
  background-color: #F9FAFC;
  font-family: "Exo", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d1d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0d1d3;
}